/* start global styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #10cab7;
    /* main color of the website */
    --secondary-color: #2c4755;
    --section-padding: 60px;
    /* padding for sections */
    --section-background-color: #f6f6f6;

}

body {
    font-family: "work-sans", sans-serif;
}

.container {
    /* width: 600px; */
    margin-left: auto;
    margin-right: auto;

    /*for testing only*/
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive design */
/* Media queries for different screen sizes */
/*small devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        width: 760px;
    }

    .special-heading {
        font-size: 50px;
        letter-spacing: -2px;

    }

    .special-heading+p {
        margin-top: -20px;
    }

    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }

}

/*medium devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*end global styles */
/* start components styles */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -4px;
    margin: 0;
    ;

}

.special-heading+p {
    /* +p mean the next p after the special-heading */
    /* this will apply to the next p after the special-heading */
    margin: -20px 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

/* end components styles */
/* start header styles */
.header {
    /* background-color: #f8f9fa; */
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    /* Aligns items to the edges */
    align-items: center;
    /* Vertically centers items */
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
    /* makes the links container a positioned element */
    display: flex;
}

.header .links .icon:hover span:nth-child(2) {
    /* when hovering over the icon, change the second line */
    width: 100%;
    /* make it wider */
}

/* drow the icon photo */
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*span in icon */
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    /* space between icons */
    height: 2px;
}

.header .links .icon span:first-child {
    /* first line */
    width: 100%;
    /* full width */

}

.header .links .icon span:nth-child(2) {
    /*secondline*/
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links .icon span:last-child {
    /* third line */
    width: 100%;

}

/* لسه ده تبع الدرس الرابع لم نذاكرها لسه بعد */
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background-color);
    position: absolute;
    /* makes the ul positioned */
    right: 0;
    /* aligns the ul to the right */
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    /* when hovering over the links, show the ul */
    display: block;
}



.header .links ul::before {
    /* arrow */
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}

.header .links ul li a {
    /*linksintheul*/
    /*makesthelinksblockelements*/
    padding: 15px;
    /*spacebetweenitems*/
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;

}

.header .links ul li:not(last-child) a {
    /* li:not(last-child)  mean : all li except last-child , a -- mean the link of there  */
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../images/yaqeen.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    /* this will make the height of the landing section equal to the height of the viewport minus the height of the header */


}

.landing .intro-text {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    width: 500px;
    max-width: 48%;
}

.landing .intro-text h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--main-color);
    /* using the main color variable */
}

.landing .intro-text p {
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
}

.features {
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* creates a responsive grid with a minimum width of 300px  and a maximum width of 1fr if there's enough space for the last item
    it will adjust accordingly to the new row*/
    gap: 20px;
    /* space between items */
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 800;
}

.features .feat p {
    font-size: 15px;
    line-height: 1.8;
    color: #777;
}

/* start services styles */
.services {
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;


}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    /* width of the icon it is best than width in mobile view */
}

.services .services-content .srv .text {
    flex: 1;
    /* this will make the text take the remaining space */
}

.services .services-content .srv .text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    font-weight: 200px;
    color: #777;
    line-height: 1.7;
}

.services .services-content .image {
    text-align: center;
    /* this will center the image */
    position: relative;
    /* this will make the image positioned */
    background: transparent;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    transform: translateX(-50%);
    position: absolute;
    z-index: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media screen and (max-width: 1070px) {
    .image-column {
        display: none
    }

}

.services .services-content .image img {
    width: 220px;
    position: relative;
    z-index: 1;
}

/*end services styles */
/* start portfolio styles */
.Portfolio {
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.Portfolio .Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 80px;
}

.Portfolio .Portfolio-content .card {
    background-color: white;
    width: 83%;
    /* position: relative;
    overflow: hidden; */
    /* this will hide the overflow */
}

.Portfolio .Portfolio-content .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;

    /* this will make the image cover the whole area */
}

.Portfolio .Portfolio-content .card .info {
    padding: 20px;
}

.Portfolio .Portfolio-content .card .info h3 {
    margin: 0;
}

.Portfolio .Portfolio-content .card .info p {
    font-size: 15px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 0;
}

/* starrt about styles */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)+60px);
    /* here we need extra space for the image */
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }

    .about .about-content .image {
        margin-top: 0 auto 60px;
    }

}

.about .about-content .image {
    position: relative;
    /* padding-top: 100px; */
    width: 250px;
    height: 375px;
    /* this will make the image take the whole area  as the image width 250 and height 375  so that we make it same width and height */
}

.about .about-content .image img {
    max-width: 100%;
    /* this will make the image take the whole area */

}

.about .about-content .image::before {
    content: "";
    position: absolute;
    /* this will make the image cover the whole area */
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    /* background-color: #ebeced; */
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -156px;
    top: -40px;
    z-index: -1;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
    /* this to make the text take the remaining space */
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;

}

.about .about-content .text p:hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;

}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;

}

/* end about styles */

/* start contact styles */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--main-color);
    text-decoration: none;
    display: block;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact .info .social i {
    margin: 0 10px;
    color: var(--secondary-color);
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }

}

/* end contact styles */
/* start footer styles */
.footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
    /* this will make the page scroll smoothly */
}